# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentytwo/
web/app/upgrade
web/app/cache/*

# Uploads
uploads/*
!uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

.vscode/*
# Node Package Manager
node_modules


*.prettierignore
*.prettierrc